html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #1f1f22;
    color: #c1c1c1;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/*--header/footer--*/
header, footer {
    background-color: #16161c;
    margin: 0px;
}

/*--header--*/
header {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 8px 14px;
}
header h1 {
    font-size: 48px;
    text-indent: 32px;
    color: white;
}
header img {
    margin-left: 10px;
    width: 13%;
}

/*--main--*/
main {
    margin: 8px;
    flex: 1;
}
main p {
    font-size: 20px;
    text-indent: 40px;
}
main h1 {
    font-size: 34px;
    color: #d3d3d3;
}
main h3 {
    font-size: 22px;
}
main li {
    font-size: 20px;
}
main a:hover {
    color: white;
    text-decoration: underline;
}
main a {
    color: #c1c1c1;
    text-decoration: none;
}
main .cadPic {
    height: 500px;
}

/*--footer--*/
footer p {
    padding: 8px;
}
footer a {
    color: #657dff;
}
footer a:hover {
    color: #3968f6;
}
footer img {
    height: 60px;
}
